<ion-content [fullscreen]="true" >

  <div class="container">
    <div class="attention">CONHEÇA!</div>
    <ion-img src="assets/preguica/logo.jpg" style="width: 250px;" />
    <p class="text-info">"PARA PROJETOS DE ARQUITERURA PRECIFICAR, <br>
      VEIO A PREGUIÇA PARA AJUDAR, <br>
      DA FLORESTA VEIO ENSINAR,<br>
      POUCO TRABALHO PRA NAO SE ESTRESSAR"
    </p>

    <div class="attention" routerLink="/login">USAR GRÁTIS</div>

    <div class="attention" routerLink="/login" style="FONT-SIZE: larger;
    padding-top: 7px;">ADOTAR POR R$ 150,00</div>

    <div class="attention" routerLink="/login" style="FONT-SIZE: larger;
    padding-top: 7px; background-color: #AB9F3E !important; color: white; width: 320px;">JÁ SOU PREGUIÇOSO!</div>

  </div>
<!-- 
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button routerLink="/login">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
