<ion-content [fullscreen]="true">
  <div class="header">
    <h3 class="title">Recupere sua senha</h3>
    <p class="subTitle">Entre com seu email para recuperar a senha!</p>
  </div>

  <form >
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Digite seu email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button routerLink="/home">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>