.menu-top {
    height: 45px;
    // background-color: bisque;
  }

  .menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
  }

  .menu-left {
    display: flex;
    width: 380px;
  }

  .menu-rigth {
    padding-right: 10px;
  }

  .baner-top {
    display: flex;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 15px;
  }

  ion-input.orcament-name {
    // --background: #373737;
    --color: #417E6F;
    --width: 60px;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
    // --highlight-color-focused: red;

    // --padding-bottom: 10px;
    // --padding-end: 10px;
    // --padding-start: 10px;
    // --padding-top: 10px;
  }

  ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #417E6F;
  }

  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #BAB8C5;
  }

  .dados {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ddd;
  }

  .btns {
    width: 250px;
  }

  .show-values {
    display: flex;
    justify-content: space-evenly;
  }

  .show-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    p {
        color: #417E6F;
        font-size: 15px;
    }
    input {
        width: 120px;
        background-color: #35363A;
        border-color: #ddd;
        color: #ddd;
        font-weight: 700;
    }

  }

  .buttons-div {
    display: flex;
    margin-top: 15px;
    justify-content: center;
  }

  .btns2 {
    width: 135px;
    height: 20px;
  }
